@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
.f-scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.f-scrollbar-hide::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}

/* Border styles */
.f-bl {
  border: 1px solid #3b82f6;
}

.f-zn {
  border: 1px solid #52525b;
}

/* HTML: <div class="loader"></div> */
.loader-fx {
  width: 25px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, #21bcd2 90%, transparent);
  background: var(--_g) 50% 0, var(--_g) 0 100%, var(--_g) 100% 100%;
  background-size: 35% calc(35% * 1.154);
  animation: l16 0.5s infinite;
}
@keyframes l16 {
  50%,
  100% {
    background-position: 100% 100%, 50% 0, 0 100%;
  }
}
/* General styles */
.find-x *,
.find-x ::before,
.find-x ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

/* Add border only to elements with f-border class */
.find-x .f-border {
  border-width: 1px;
}

.find-x ::before,
.find-x ::after {
  --tw-content: "";
}

.find-x hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

.find-x abbr:where([title]) {
  text-decoration: underline dotted;
}

.find-x a {
  color: inherit;
  text-decoration: inherit;
}

.find-x b,
.find-x strong {
  font-weight: bolder;
}

.find-x code,
.find-x kbd,
.find-x samp,
.find-x pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.find-x small {
  font-size: 80%;
}

.find-x sub,
.find-x sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.find-x sub {
  bottom: -0.25em;
}

.find-x sup {
  top: -0.5em;
}

.find-x {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.find-x table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  overflow-x: auto;
  background-color: #191b1a; /* Dark background */
  color: #fff; /* Light text color */
  border: 1px solid #18181b;
  table-layout: fixed; /* Ensure columns fill the table width */
}

.find-x th,
.find-x td {
  padding: 8px;
  text-align: left;
  border: 1px solid #525252; /* Column borders */
}

.find-x th {
  background-color: #2a2c2b; /* Slightly lighter dark header background */
}

.find-x tr:nth-child(even) {
  background-color: #232524; /* Slightly lighter dark background for even rows */
}

.find-x tr:nth-child(odd) {
  background-color: #191b1a; /* Original dark background for odd rows */
}

.find-x th:last-child,
.find-x td:last-child {
  flex: 1; /* Make the last column fill the remaining space */
}

.find-x .table-wrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px; /* Ensure the wrapper has rounded corners as well */
}

@media (max-width: 600px) {
  .find-x table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.find-x input,
.find-x optgroup,
.find-x select,
.find-x textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.find-x select {
  text-transform: none;
}

.find-x [type="reset"],
.find-x [type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

.find-x progress {
  vertical-align: baseline;
}

.find-x ::-webkit-inner-spin-button,
.find-x ::-webkit-outer-spin-button {
  height: auto;
}

.find-x [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.find-x ::-webkit-search-decoration {
  -webkit-appearance: none;
}

.find-x ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.find-x summary {
  display: list-item;
}

.find-x blockquote {
  width: auto;
  height: 50px;
  padding: 5px;
  margin: 0;
}

.find-x dl,
.find-x dd,
.find-x hr,
.find-x figure,
.find-x p,
.find-x pre {
  margin: 0;
}

.find-x fieldset {
  margin: 0;
  padding: 0;
}

.find-x legend {
  padding: 0;
}

.find-x ul {
  list-style-type: disc;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 2;
  margin-left: 2rem;
}

.find-x ol {
  list-style-type: decimal;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 2;
  padding-left: 2rem;
}

.find-x .txt p {
  opacity: 0.9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.find-x .txt strong {  
  opacity: 1;
  font-weight: 600;
}



.find-x button,
.find-x [role="button"] {
  cursor: pointer;
  border: 1px solid #9ca3af;
}

.find-x input::placeholder,
.find-x textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

.find-x :disabled {
  cursor: default;
}

.find-x img,
.find-x svg,
.find-x video,
.find-x canvas,
.find-x audio,
.find-x iframe,
.find-x embed,
.find-x object {
  display: block;
  vertical-align: middle;
}

.find-x img,
.find-x video {
  max-width: 100%;
  height: auto;
}

.find-x [hidden] {
  display: none;
}

/* Button styles */
.find-x .esc {
  padding: 5px 10px;
  cursor: pointer;
}

.find-x button:disabled {
  cursor: default;
}

/* Heading styles */
.find-x h1 {
  font-size: clamp(18px, 5vw, 25px);
  font-weight: bold;
  margin: 0.5em 0;
}

.find-x h2,
.find-x h3,
.find-x h4,
.find-x h5,
.find-x h6 {
  font-size: clamp(14px, 4vw, 20px);
  font-weight: 450;
  margin: 0.2em 0;
  color: inherit;
}

@media (max-width: 480px) {
  .find-x h1 {
    font-size: 20px;
  }

  .find-x h2,
  .find-x h3,
  .find-x h4,
  .find-x h5,
  .find-x h6 {
    font-size: 16px;
  }
}
