@tailwind base;
@tailwind components;
@tailwind utilities;

.f-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.f-scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.f-bl {
  border: 1px solid #3b82f6;
}

.f-zn {
  border: 1px solid #52525b;
}

